@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Manrope", sans-serif;

    --color-accent-100: var(--color-cyan-100);
    --color-accent-200: var(--color-cyan-200);
    --color-accent-300: var(--color-cyan-300);
    --color-accent-400: var(--color-cyan-400);
    --color-accent-500: var(--color-cyan-500);
    --color-accent-600: var(--color-cyan-600);
    --color-accent-700: var(--color-cyan-700);
    --color-accent-800: var(--color-cyan-800);
    --color-accent-900: var(--color-cyan-900);

    --color-siberia-100: var(--color-amber-100);
    --color-siberia-200: var(--color-amber-200);
    --color-siberia-300: var(--color-amber-300);
    --color-siberia-400: var(--color-amber-400);
    --color-siberia-500: var(--color-amber-500);
    --color-siberia-600: var(--color-amber-600);
    --color-siberia-700: var(--color-amber-700);
    --color-siberia-800: var(--color-amber-800);
    --color-siberia-900: var(--color-amber-900);
}

html,
body,
#__nuxt {
    height: 100%;
}

body {
    @apply bg-white text-black
    dark:bg-[#15202b] dark:text-[#f7f9f9];
}

.link-clr1 {
    @apply text-cyan-600 hover:text-cyan-500
    dark:text-cyan-500 dark:hover:text-cyan-400;
}

.one-line-only {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-lines-only {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-lines-only {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
